        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            display: flex;
            justify-content: center;
            gap: 90px;
            background-color: black;
            height: 40px;
        }

        nav a {
            text-decoration: none;
            margin-top: 8px;
            color: white;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .container {
            display: flex;
            justify-content: center;
            gap: 60px;
            max-width: 100%;
            margin-top: 80px;
            border-radius: 8px;
        }

        .card1,
        .card2,
        .card3 {
            width: 450px;
            height: 400px;
            border-radius: 8px;
            transition: transform .6s;
        }

        .card1:hover,
        .card2:hover,
        .card3:hover {
            transform: scale(1.06);
        }


        .card1 {
            background-color: rgb(239, 79, 79);
        }

        .card2 {
            background-color: rgb(118, 175, 225);
        }

        .card3 {
            background-color: rgb(141, 225, 118);
        }

        .dcard {
            display: flex;
            justify-content: center;
        }

        .card4 {
            background-color: rgba(236, 222, 78, 0.889);
            width: 1190px;
            height: 450px;
            margin-top: 60px;
            border-radius: 8px;
            transition: transform .6s;
            margin-bottom: 30px;
        }

        .card4:hover {
            transform: scale(1.05);
        }

        footer {
            margin-top: 30px;
            background-color: grey;
            text-align: center;
        }

        footer p {
            padding: 11px;
        }