@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins', sans-serif;
  /* background-color: #dfe7f1; */
  background-color: white;
  overflow-x: hidden;
}

nav{
  background: linear-gradient(130deg, white 48%, 	#FF1E00 52%);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  margin: 10px ;
  border-radius: 8px;
}

nav img{
  width: 90px;
  height: 100px;
  margin-left: 20px;
}

.right{
  display: flex;
  gap: 20px;
  margin-right: 10px;
  margin-bottom: 12px;
}

.right a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-top: 16px;
  height: 25px;
  padding: 9px;
  border-radius: 12px;
  transition: background-color .3s ease-in;
}

.right a:hover{
  background-color: #dfe7f1;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 8px 15px 20px 15px;
}

.title img {
  width: 80px;
  height: 100px;
}

.alonso img{
  position: absolute;
  width: 550px;
  height: 450px;
  top: 125px;
  left: -250px;
  transform: rotate(25deg);
}

.crane img{
  position: absolute;
  width: 460px;
  height: 560px;
  right: -175px;
  transform: rotate(-15deg);
  bottom: -180px;
}

table {
  margin: auto;
  text-align: center;
  width: 60%;
  margin-bottom: 40px;
}

th {
  background-color: #b11226;
  color: white;
  letter-spacing: 0.5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table a{
  text-decoration: none;
  color: black;
  transition: font-weight .4s ease-in;
}

table a:hover{
  font-weight: bold;
  text-decoration: underline;
}

th,td{
  padding: 10px;
}

th:nth-child(2){
  width: 30%;
}
th:nth-child(4){
  width: 25%;
}

tr:nth-child(odd) {
  background-color: #fff5f5;
}

tr:nth-child(even) {
  background-color: #fcfcfc;
}

.scalablerow{
  transition: transform .3s ease, box-shadow .3 ease;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  display: table-row;
}

.scalablerow:hover{
  transform: scale(1.025);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}