@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: white;
  overflow-x: hidden;
}


body::-webkit-scrollbar {
    display: none;
}

a:focus {
  outline: 2px solid #659ea1;
  outline-offset: 3px;
}

nav{
  background: linear-gradient(130deg, white 48%, 	#FF1E00 52%);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  margin: 10px ;
  border-radius: 8px;
}

nav img{
  width: 90px;
  height: 100px;
  margin-left: 20px;
}

.right{
  display: flex;
  gap: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}

.right a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-top: 16px;
  height: 25px;
  padding: 9px;
  border-radius: 12px;
  transition: background-color .3s ease-in;
}

.extra a:hover, .right a:hover{
  background-color: #dfe7f1;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 8px 15px 20px 15px;
}

.title img {
  width: 80px;
  height: 100px;
}

.alonso img{
  position: fixed;
  width: 550px;
  height: 450px;
  top: 125px;
  left: -250px;
  pointer-events: none;
  transform: rotate(25deg);
}

.crane img{
  position: fixed;
  width: 360px;
  height: 460px;
  right: -125px;
  transform: rotate(-13deg);
  bottom: -31px;
  pointer-events: none;
}

table {
  margin: auto;
  text-align: center;
  width: 60%;
  margin-bottom: 40px;
}

th {
  background-color: #b11226;
  color: white;
  letter-spacing: 0.5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table a{
  text-decoration: none;
  color: black;
  transition: font-weight .4s ease-in;
}

table a:hover{
  font-weight: bold;
  text-decoration: underline;
}

th,td{
  padding: 10px;
}

th:nth-child(2){
  width: 30%;
}
th:nth-child(4){
  width: 25%;
}

tr:nth-child(odd) {
  background-color: #fff5f5;
}

tr:nth-child(even) {
  background-color: #fcfcfc;
}

.scalablerow{
  transition: transform .6s ease, box-shadow .3s ease;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.scalablerow:hover{
  transform: scale(1.025);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}

footer{
  border-top: 1px solid  grey;
  background: linear-gradient(60deg, white 48%, 	#FF1E00 52%);
  text-align: center;
  height: 120px;
}

.footer{
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
}

.logo{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
}
.logo img{
  width: 90px;
  height: 100px;
  margin-right: 5px;
}

.socials{
  border-radius: 8px;
  display: flex;
  gap: 25px;
  margin-right: 130px;
}

.socials img{
  border-radius: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  transition: transform .3s ease-in;
}

.socials img:hover{
  transform: scale(1.35);
}

.cr{
  margin-top: 90px;
  margin-right: 11px;
}

.extra{
  margin-right: 100px;
  display: flex;
  gap: 20px;
}

.extra a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  gap: 30px;
  padding: 4px 9px;
  border-radius: 12px;
  transition: background-color .3s ease-in;
}

@media (max-width: 900px) {
  table {
    width: 95%;
  }

  .alonso img,
  .crane img {
    display: none;
  }
}