.container{
    position: fixed;
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    margin: auto auto;
}

.box{
    position: absolute;
    top: 25px;
    left: 10px;
    padding: 50px;
    overflow: hidden;
    background: red;
    white-space: nowrap;
    text-overflow: clip;
}

